[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "causaleffect"]
	path = causaleffect
	url = https://github.com/santikka/causaleffect
[submodule "cfid"]
	path = cfid
	url = https://github.com/santikka/cfid
[submodule "codyna"]
	path = codyna
	url = https://github.com/santikka/codyna
[submodule "dosearch"]
	path = dosearch
	url = https://github.com/santikka/dosearch
